.header {
	padding: 1rem 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.01);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-right: 0.5rem;
	display: flex;
	align-items: center;
}
.divLogo {
	display: flex;
	align-items: center;
}

.divLogo {
	display: flex;
	align-items: center;
}

.divLinks {
	display: flex;
	gap: 2rem;
	padding: 0.5rem;
}

.divUserInterest {
	display: flex;
	align-items: center;
	gap: 2rem;
	position: relative;
}

.divSearch {
	position: relative;
}
.divSearch input {
	padding: 10px 10px 10px 47px;
	background: url('../../Assets/icons/Search.svg') no-repeat 12px center;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	outline: none;
	transition: 0.3s;
}
.divSearch input:focus {
	border-color: var(--color-primary);
}
