.header {
	box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
	padding: 1rem 0;
	width: 100%;
}

.divLogo {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 0.5rem;
}

.divLogo {
	display: flex;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divLinks {
	display: flex;
	gap: 2rem;
	padding: 0.5rem;
}

.divUserInterest {
	display: flex;
	align-items: center;
	gap: 2rem;
	position: relative;
}

.divSearch {
	position: relative;
}
.divSearch input {
	padding: 10px 10px 10px 47px;
	background: url('../../Assets/icons/Search.svg') no-repeat 10px center;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	outline: none;
}
