.newsletter > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.newsletter h1 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
}

.newsletter p {
	font-size: 0.875rem;
	font-weight: 300;
	margin: 1.5rem 0 2rem;
	max-width: 462px;
	line-height: 1.7;
}

.emailNews {
	display: flex;
}
.emailNews button {
	margin-left: 1rem;
}
