.browseSection {
	margin-top: 5rem !important;
	margin-bottom: 5rem !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	background:
		radial-gradient(
			circle at 85% 50%,
			rgba(255, 255, 255, 0.9) 0%,
			transparent 60%
		),
		linear-gradient(
			to right,
			#f2f2f2 0%,
			#f6f6f6 25%,
			#fafafa 50%,
			#fcfcfc 75%,
			#ffffff 100%
		);
}

.browseSection > div {
	z-index: 2;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.browseSection h1 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
}

.browseSection p {
	font-size: 0.875rem;
	font-weight: 300;
	margin: 1.5rem 0 2rem;
	max-width: 462px;
	line-height: 1.7;
}
.browseSection img {
	z-index: 2;
	width: 100%;
	max-width: 250px;
	height: auto;
	object-fit: contain;
}
